@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #a68a56;
  --color-secondary: #2a2a2a;
  --color-background-light: #fdfbf7;
  --color-background-dark: #1a1a1a;
  --color-surface-light: #f4efe6;
  --color-surface-dark: #262626;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-display: 'Montserrat', sans-serif;
}
